@import "tailwindcss";

.prose {
  max-width: none;
}

.prose :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
}

.prose :where(h1) {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.prose :where(h2) {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.prose :where(h3) {
  font-size: 1.5rem;
  line-height: 2rem;
}

.prose :where(p) {
  font-size: 1rem;
  line-height: 1.5rem;
}
